.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__oeqjp {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  background: #ffffffcc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__oeqjp {
    padding-bottom: 0px;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.img__emCyE {
  object-fit: cover;
  max-width: 100%;
}
.img__emCyE > picture > img {
  object-fit: cover;
}
.img__emCyE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___9Y6Qq {
  object-fit: cover;
  max-width: 100%;
}
.img___9Y6Qq > picture > img {
  object-fit: cover;
}
.img___9Y6Qq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xzczp {
  object-fit: cover;
  max-width: 100%;
}
.img__xzczp > picture > img {
  object-fit: cover;
}
.img__xzczp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__pZzrk {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__xOwPj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__aq86J {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__rjbnl:global(.__wab_instance) {
  position: relative;
}
.svg__mxn3Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ccGw4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__gbhZt:global(.__wab_instance) {
  position: relative;
}
.svg__unSEv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jzJDb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hiMP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__biSl {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating__k0XC:global(.__wab_instance) {
  position: relative;
}
.productCard__pOc67:global(.__wab_instance) {
  position: relative;
}
.svg__j6TEg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hWkvT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__cXFqb {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mAgNa {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___932Lk:global(.__wab_instance) {
  position: relative;
}
.productCard___5CJs:global(.__wab_instance) {
  position: relative;
}
.svg___0EyRm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tYg7U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pZaT {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___8Ppxf {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__fwimr:global(.__wab_instance) {
  position: relative;
}
.productCard__rMmPx:global(.__wab_instance) {
  position: relative;
}
.svg__b74Sk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cFn6B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__kiv43 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0INo6 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__oMz:global(.__wab_instance) {
  position: relative;
}
.productCard__wQqy:global(.__wab_instance) {
  position: relative;
}
.svg__vwwfh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wd60N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fovb3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__c6M4Z {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__zhiNp:global(.__wab_instance) {
  position: relative;
}
.productCard__xJeT:global(.__wab_instance) {
  position: relative;
}
.svg___6V0Lt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j7YpW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___0Mcqs {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tkYQn {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating__khdfh:global(.__wab_instance) {
  position: relative;
}
.section__qcNxB {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__p2TxH {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__p2TxH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p2TxH > :global(.__wab_flex-container) > *,
.freeBox__p2TxH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p2TxH > :global(.__wab_flex-container) > picture > img,
.freeBox__p2TxH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p2TxH {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p2TxH > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p2TxH > :global(.__wab_flex-container) > *,
  .freeBox__p2TxH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p2TxH > :global(.__wab_flex-container) > picture > img,
  .freeBox__p2TxH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___8OSC {
  flex-direction: column;
  display: flex;
}
.freeBox___8OSC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8OSC > :global(.__wab_flex-container) > *,
.freeBox___8OSC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OSC > :global(.__wab_flex-container) > picture > img,
.freeBox___8OSC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bn0Te {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bn0Te > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bn0Te > :global(.__wab_flex-container) > *,
.freeBox__bn0Te > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bn0Te > :global(.__wab_flex-container) > picture > img,
.freeBox__bn0Te
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__x62X5 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__vgF1N {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox___5Ds5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___5Ds5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___5Ds5 > :global(.__wab_flex-container) > *,
.freeBox___5Ds5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Ds5 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Ds5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Ds5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Ds5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Ds5 > :global(.__wab_flex-container) > *,
  .freeBox___5Ds5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Ds5 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Ds5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__ohDRi {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__b7Wgn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tMFx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__dw88N {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___203V2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__eHhhd {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___57Vmq {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__b2Lbk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__sts7S:global(.__wab_instance) {
  position: relative;
}
.svg__vibs7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xvrZt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xMaY1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__ujHlI:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___00Bsz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__yeCfI {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__dmCrp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__yzJt:global(.__wab_instance) {
  position: relative;
}
.svg__czvfv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6Uqi0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__sYbo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__kw2JU:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__kw2JU:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uFlqi {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__gKbaL {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__y7RaT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__psoJi:global(.__wab_instance) {
  position: relative;
}
.svg__scAd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Vir {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__l4GG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__yceq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__iCaOj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__rUsA6:global(.__wab_instance) {
  position: relative;
}
.svg__suQzv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__svyDa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__wTvhD {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__wTvhD > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__wTvhD > :global(.__wab_flex-container) > *,
.freeBox__wTvhD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wTvhD > :global(.__wab_flex-container) > picture > img,
.freeBox__wTvhD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__qyvVg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xdWhp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dYsT7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hg36U {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__wwChE:global(.__wab_instance) {
  position: relative;
}
.productCard__xehv2:global(.__wab_instance) {
  position: relative;
}
.svg___9OEr6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bXzz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__c0JBa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__vgYf7 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__sa9Ye:global(.__wab_instance) {
  position: relative;
}
.productCard__mP81F:global(.__wab_instance) {
  position: relative;
}
.svg__fNuxF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gyQay {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mMbwi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___22Pbe {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__xmikE:global(.__wab_instance) {
  position: relative;
}
.productCard__eWYyO:global(.__wab_instance) {
  position: relative;
}
.svg__mJfkt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0JYZh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qIUp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ytPj {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__scJwA:global(.__wab_instance) {
  position: relative;
}
.productCard___4Kvsh:global(.__wab_instance) {
  position: relative;
}
.svg__lPfEq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tbWyv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___8Sc1Z {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__arsjX {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__byQsh:global(.__wab_instance) {
  position: relative;
}
.productCard__bd3Ne:global(.__wab_instance) {
  position: relative;
}
.svg__oZLcH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__syotE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__elZf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6CrO {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating__dNLdO:global(.__wab_instance) {
  position: relative;
}
.section__inb7D {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__medKw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__medKw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__medKw > :global(.__wab_flex-container) > *,
.freeBox__medKw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__medKw > :global(.__wab_flex-container) > picture > img,
.freeBox__medKw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__iUtMr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__oEp0:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__w0K8F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fEpz {
  height: auto;
}
.svg__q4IR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4MFIq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__jMRa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aLkkG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tOlGh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fqvl7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0D1ZV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g3DUm:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__gusVd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tJ2KD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eORxm:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__wLa4X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__veBcC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wljSp:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ckzAx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rCsN {
  height: auto;
}
.svg__ykPVb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___9Iojd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9Iojd > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9Iojd > :global(.__wab_flex-container) > *,
.freeBox___9Iojd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Iojd > :global(.__wab_flex-container) > picture > img,
.freeBox___9Iojd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Iojd > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__iGDty:global(.__wab_instance) {
  position: relative;
}
.svg___26OkR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__orSsS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__tdIdm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__kty8Q {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__vy7J7:global(.__wab_instance) {
  position: relative;
}
.productCard__bDjHr:global(.__wab_instance) {
  position: relative;
}
.svg__rCj4V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rKx40 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fCJ3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7AQ62 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__pWgcZ:global(.__wab_instance) {
  position: relative;
}
.productCard___64U61:global(.__wab_instance) {
  position: relative;
}
.svg___9D2QM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Mk3K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__epfqG {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mpMy7 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__zyEgP:global(.__wab_instance) {
  position: relative;
}
.productCard__kQfwv:global(.__wab_instance) {
  position: relative;
}
.svg__keYot {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__doPLt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__me4D {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lj9X7 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___3Tb7Y:global(.__wab_instance) {
  position: relative;
}
.productCard___1F6Jp:global(.__wab_instance) {
  position: relative;
}
.svg__fFdAq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__byxC7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rz0Lz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1Zw69 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__kBiRw:global(.__wab_instance) {
  position: relative;
}
.productCard__yflo4:global(.__wab_instance) {
  position: relative;
}
.svg__wYlTk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tyTqZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__a83QP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dMcwj {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__hLbcf:global(.__wab_instance) {
  position: relative;
}
.productCard__j9SgU:global(.__wab_instance) {
  position: relative;
}
.svg__ccRv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rk0Kc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zedS3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__q50R {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__cCtjV:global(.__wab_instance) {
  position: relative;
}
.productCard__lVg1:global(.__wab_instance) {
  position: relative;
}
.svg__aVpWm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bfk7G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yXyVo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rvMnF {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___4IG4P:global(.__wab_instance) {
  position: relative;
}
.productCard__qZvWn:global(.__wab_instance) {
  position: relative;
}
.svg__jqIFu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___90Hv0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sfAKz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__iZv3D {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__io32X:global(.__wab_instance) {
  position: relative;
}
.productCard__wxOfn:global(.__wab_instance) {
  position: relative;
}
.svg___9C4N4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8MRoX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sUpNq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ecOTn {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__qOBvd:global(.__wab_instance) {
  position: relative;
}
.productCard___56ZsV:global(.__wab_instance) {
  position: relative;
}
.svg__cuqwd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v2Vvg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sBprc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ev3MF {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__wfxmo:global(.__wab_instance) {
  position: relative;
}
.productCard__u2Zyh:global(.__wab_instance) {
  position: relative;
}
.svg__koFxt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pKkfV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__adlc4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ciYz3 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__mEhjT:global(.__wab_instance) {
  position: relative;
}
.section__hcIm1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__ks7Ra:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__gnRci {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__eeyIm {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__o5GI6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__rN5Lb:global(.__wab_instance) {
  position: relative;
}
.svg__ty5Qf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kQAxJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___1Qg8R {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__bUrZj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__yjwMg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__yjwMg:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__oCK0 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___6NlMg {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__wbdbs:global(.__wab_instance) {
  position: relative;
}
.svg__f2YtY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g7Wpe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4O8Gv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__mvUh5:global(.__wab_instance) {
  position: relative;
}
.svg__sznj0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jGy3B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__s3T2B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___9Mm8A:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___9Mm8A:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__padit {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__drfYe {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__cJuhD:global(.__wab_instance) {
  position: relative;
}
.svg__x7Zb2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ymrV9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mbboq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__hmRlO:global(.__wab_instance) {
  position: relative;
}
.svg__mZw7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2ONuh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__oGbl1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__dubeg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__dubeg:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__ruz1O {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__hV6Y {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__czNkX:global(.__wab_instance) {
  position: relative;
}
.svg__aEwrO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__clmLl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__x39V4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__t3ZoE:global(.__wab_instance) {
  position: relative;
}
.svg__egYxx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rHyiu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__tTigI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__h5EUj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__h5EUj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__nlAgm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___2SE0U {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__lRtHv:global(.__wab_instance) {
  position: relative;
}
.svg__yqAx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v2N73 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gvTVx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__ck4Wx:global(.__wab_instance) {
  position: relative;
}
.svg__hKtPt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bZ0Sd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
